html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

/* .clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; } */

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* adjust default html font-size for accessibility & rem conversion(10px->20px) */
html{
    font-size: 125%;
}

/* strip default margin and padding */

body,
fieldset,
figure,
form,
h1,h2,h3,h4,h5,h6,
menu,
ol, ul,
p{
    margin: 0;
    padding: 0;
}


                                        /* BODY */
                    /* Need to reduce proportions 10-20% */
/* body{
    display: flex;
} */
.wrapper{
    margin: 0 auto;
    max-width: 1200;
    width: 80%;
}   

                                        /* Header */
header{
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    position: relative;
    /* display: flex; */
}

.headerCard{
    /* background-image: url(../frontend-mentor-challenge1-05-04-2021-get-insights-card/images/image-header-desktop.jpg); */
    height: 60vh;
    /* margin-top: 25%; */
    /* border-radius: 50%; */
            /* Don't know why border-radius doesn't work on headerCard <div> */
    position: absolute;
    left: 10%;
    top: 20%;
    display: flex;
            /* dont't know why margin-top is pushing header(parent) down 25% */
            /* I think proportions are off for the card size. in the desigh the dark blue background is thicker at top and bottom than at sides. */
}
.cardTBackground{
    background-color: hsl(244, 38%, 16%);
    border-bottom-left-radius: 2%;
    border-top-left-radius: 2%;
    height: 100%;
    width: 50%;
    /* margin: 25vh 0 0 9vw; */
            /* choose vw over percentage since not the child of body/html but is 50% of body */
    /* margin: 20%; */
    position: relative;
    
}

.cardText{
    /* margin: 10%; */ 
            /* expected all around margin to add to .wrapper; Didn't expect that adding only top and bottom margin would eliminate left margin */
    position: absolute;
    left: 15%;
    top: 16%;
}

h1, .num{
    color:#fff;
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    /* font-size: calc(0.75rem * 0.9) */
    /* font-size: calc(2em * 0.80); */
    font-size: calc(2rem * 0.8);
            /* not sure it .num shares same font-family as h1 */
    /* margin-bottom: 5%; */
}

h1{
    margin-bottom: 5%;
    width: 90%;
}

.insights{
    color: hsl(277, 64%, 61%);
}

.cardP{
    margin-bottom: 10%;
    width: 75%;
}

.statsFlex{
    display: flex;
}

h2, p{
    color: hsla(0, 0%, 100%, 0.75);
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;
    font-size: calc(0.75rem * 0.9);
    font-weight: 400;
    line-height: 1.75;
}

h2{
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Inter', sans-serif;

    font-size: calc(0.75rem * 0.8); 
    text-transform: uppercase;
}

.stats{
    color:  hsla(0, 0%, 100%, 0.6);
    display: flex;
    flex-direction: column-reverse;
}

.num{
    font-size: calc(1rem * 0.8);
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
}

.cardImgBox{
    /* background-color: teal; */
    height: 100%;
    width: 50%;
    position: relative;
}

/* .cardImgBox p{
    display: none;
} */

.cardImgFilter{
    background-color: hsla(278, 70%, 35%, 0.6);
    border-bottom-right-radius: 2%;
    border-top-right-radius: 2%;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* .cardImgFilter p{
    display: none;
} */

/* .cardImgFilter p{
    background-color: teal;
    height: 100%;
} */

.cardImg{
    /* background-color: wheat; */
    background-image: url(./images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 2%;
    border-top-right-radius: 2%;
    height: 100%;
    width: 100%;
    /* z-index: 50; */
}

                                        /* Main */
/* main{
    background-image: ;
} */

                                        /* MEDIA QUERIES */


/* Media queries for .cardText */
@media(max-width: 1165px){
    .cardText{
        top: 12%;
    }
}

@media(max-width: 1156px){
    .cardText{
        top: 9%;
    }
}

/* iPad Pro (12.9"); width: 1024px */

@media(max-width: 954px){
    .cardP{
        width: 85%;
    }
    .cardText{
        top: 10%;
    }
}

@media(max-width: 842px){
    .cardText{
        top: 8%;
    }
}

@media(max-width: 817px){
    h1{
        width:95%;
    }
    .cardP{
        width: 75%;
    }
    .cardText{
        left: 13%;
        top: 8%
    }
}

@media(max-width: 774px){
    .cardP{
        margin-bottom: 5%;
    }
    .cardText{
        top: 5%;
    }
}
/* Kindle Fire HDX Linus; width: 800px */
        /* perhaps start flex column-reverse at this width */

/* Meida queries for max-width =< 770px*/
        /* iPad = width:768px */
@media(max-width: 770px){
    .headerCard{
        flex-direction: column-reverse;
        height: 90vh;
        left: 9%;
        top: 5%;
    }
    .cardTBackground{
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
        border-top-left-radius: 0%;
    }
    .cardTBackground, .cardImgBox, h1{
        width: 100%;
    }
    .cardText{
        left: 15%;
        top: 10%;
    }
    .cardP{
        width: 95%;
    }
    .cardImgFilter, .cardImg{
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
        /* border-top-right-radius: 2%; */
        border-bottom-right-radius: 0%;
    }
}


/* not sure if I should adujust left: % for scaling */